.blob {
   color: var(--color-bright);
   @include text(calc(1.2rem + 6.25vw), 125%, 800);
}

header {
   padding-bottom: 0rem;
   .blob {
      margin-top: 5rem;
      @include breakpoint(md) {
         margin-top: 5rem;
      }
      @include breakpoint(lg) {
         margin-top: 5rem;
      }
      @include breakpoint(xl) {
         margin-top: 6rem;
      }
   }
}

footer {
   .blob {
      margin-bottom: 4rem;
      @include breakpoint(md) {
         margin-bottom: 6rem;
      }
      @include breakpoint(lg) {
         margin-bottom: 8rem;
      }
      @include breakpoint(xl) {
         margin-bottom: 10rem;
      }
   }
}