.experience article {
   margin-bottom: 6rem;

   div h2 {
      margin-bottom: 0;
   }
}

.experience {
   @include theme(light) {
      background: var(--color-white);
   }
   @include theme(dark) {
      background: var(--color-back);
   }
}