.experience {

   background-color: var(--color-back1);

   article {
      margin-bottom: 8rem;

      h2 {
         margin-bottom: 0;
         display: none;         
         @include breakpoint(md) {
            display: block;
         }
      }
   }

   .role {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      .company {
         display: flex;
         margin-bottom: 2rem;
         align-items: center;
         
         p,
         h3 {
            margin-bottom: 0;
            line-height: 140%;
         }

         @include breakpoint(md) {
            padding-top: 0.85rem;
         }
      
         picture {
            width: 4rem; //Later, this the same size as the H2
            height: 4rem;
            margin-right: 1.5rem;
            object-fit: cover;
            opacity: 0.9;
            flex-shrink: 0;
            img {
               border-radius: 0.25rem;
            }
         }
      }

      .details {
         display: flex;
         flex-direction: column;

         div p {
            margin-bottom: 0;
      
            &:not(:first-child) {
               opacity: 0.65;
            }
         }
      }

      .timeline {
         div {
            position: relative;
            padding-left: 4rem;

            &:not(:last-child) {
               padding-bottom: 1rem;
               margin-bottom: 0.25rem;
            }

            // Add the dot
            &::before {
               content: "";
               position: absolute;
               left: 1.65rem; //Later, improve the positioning
               top: 0.4rem;
               width: 0.75rem;
               height: 0.75rem;
               border-radius: 50%;
               background-color: var(--color-front1);
               opacity: 0.3;
            }

            // Add the line
            &::after {
               content: "";
               position: absolute;
               left: 1.95rem; //Later, improve the positioning
               top: 1.5rem;
               width: 0.125rem;
               height: calc(100% - 1.75rem);
               background-color: var(--color-front1);
               opacity: 0.1;
            }            
         }
      }
   }

   .description {
      margin-bottom: 1.5rem; //Later, remove this is an overide
   }
}