.experience article {
   margin-bottom: 6rem;

   div h2 {
      margin-bottom: 0;
   }
}

.experience {
   @include theme(light) {
      background: #ffffff;
   }
}


.profile {
   picture {
      opacity: 0.95;

      img,
      &::before {
         border-radius: .5rem;
      }
      
   }
}
