.filter {
   display: flex;
   position: relative;

   &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      mix-blend-mode: multiply;
      background-color: var(--color-bright);
      opacity: .09;
   }
}