.marginbottom {
   margin-bottom: 1.5rem;
   @include breakpoint(lg) {
         margin-bottom: 2rem;
      }
   &>* {
      margin-bottom: 1rem;

      @include breakpoint(md) {
         margin-bottom: 2rem;
      }
      @include breakpoint(xl) {
         margin-bottom: 2.5rem;
      }
   }
}

.margintop {
   margin-top: 1.5rem;
   @include breakpoint(lg) {
      margin-top: 2rem;
   }
   &>* {
      margin-top: 1rem;
      @include breakpoint(md) {
         margin-top: 2rem;
      }
      @include breakpoint(xl) {
         margin-top: 2.5rem;
      }
   }
}

.experience .marginbottom {
   @include breakpoint(md) {
      padding-top: .5rem;
   }
}