.reference {

   background-color: var(--color-back2);
   
   .quote {
      display: flex;
      flex-direction: column;

      @include breakpoint(xl) {
         flex-direction: row;
      }
   }

   picture {
      width: 5rem;
      height: 5rem;
      opacity: 0.9;
      flex-shrink: 0;
      

      @include breakpoint(md) {
         width: 6rem;
         height: 6rem;
      }

      @include breakpoint(lg) {
         width: 7rem;
         height: 7rem;
         margin-right: 2rem;
         margin-top: .5rem;
      }

      img,
      &::before {
         border-radius: 100px;
         flex-shrink: 0;
      }
   }
}