// Mobile grid
.grid {
   display: grid;
   row-gap: 1rem;
   column-gap: 1rem;
   grid-template-columns: repeat(2, 1fr);

   &>* {
      grid-column-start: 1;
      grid-column-end: 3;
   }

   .mobstart0 {
      grid-column-start: 1;
   }

   .mobstart1 {
      grid-column-start: 2;
   }

   .mobend1 {
      grid-column-end: 2;
   }

   .mobend2 {
      grid-column-end: 3;
   }

   // 12 col grid for desktop
   @include breakpoint(md) {
      grid-template-columns: repeat(12, 1fr);
      column-gap: 2rem;
      row-gap: 2rem;

      &>* {
         grid-column-start: 1;
         grid-column-end: 13;
      }

      // Column start
      .start0 {
         grid-column-start: 1;
      }

      .start1 {
         grid-column-start: 2;
      }

      .start2 {
         grid-column-start: 3;
      }

      .start3 {
         grid-column-start: 4;
      }

      .start4 {
         grid-column-start: 5;
      }

      .start5 {
         grid-column-start: 6;
      }

      .start6 {
         grid-column-start: 7;
      }

      .start7 {
         grid-column-start: 8;
      }

      .start8 {
         grid-column-start: 9;
      }

      .start9 {
         grid-column-start: 10;
      }

      .start10 {
         grid-column-start: 11;
      }

      .start11 {
         grid-column-start: 12;
      }

      // Column end
      .end1 {
         grid-column-end: 2;
      }

      .end2 {
         grid-column-end: 3;
      }

      .end3 {
         grid-column-end: 4;
      }

      .end4 {
         grid-column-end: 5;
      }

      .end5 {
         grid-column-end: 6;
      }

      .end6 {
         grid-column-end: 7;
      }

      .end7 {
         grid-column-end: 8;
      }

      .end8 {
         grid-column-end: 9;
      }

      .end9 {
         grid-column-end: 10;
      }

      .end10 {
         grid-column-end: 11;
      }

      .end11 {
         grid-column-end: 12;
      }

      .end12 {
         grid-column-end: 13;
      }
   }
}