// The space and break between all sections
section,
header,
footer {
   padding-top: 3rem;
   padding-bottom: 3rem;

   @include breakpoint(md) {
      padding-top: 4rem;
      padding-bottom: 4rem;
   }

   @include breakpoint(lg) {
      padding-top: 5rem;
      padding-bottom: 5rem;
   }

   @include breakpoint(xl) {
      padding-top: 6rem;
      padding-bottom: 6rem;
   }
}

// The page margin
.margin {
   margin: 0 1.25rem;
}

.nomargin {
   margin: 0;
}

.nomargin,
.margin {
   @include breakpoint(md) {
      margin: 0 3rem;
   }

   @include breakpoint(lg) {
      margin: 0 4.5rem;
   }

   @include breakpoint(xl) {
      margin: 0 5rem;
      max-width: $max-width;
   }
}